<div class="topnav" id="myTopnav">
    <a href="/company/companies">Companies</a>
    <a href="/employee/employees">Employees</a>
    <div class="dropdown">
        <button class="dropbtn">Queries
            <i class="fas fa-angle-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/company/last-year"><b>Company:</b> Last year registeration</a>
            <a href="/company/change-tehran"><b>Company:</b> Change state and city to tehran</a>
            <a href="/employee/mokhaberat-employees"><b>Employee:</b> Mokhaberat(company) employees</a>
            <a href="/employee/mokhaberat-manager"><b>Employee:</b> Mokhaberat(company) manager</a>
            <a href="/employee/companies-managers"><b>Employee:</b> Companies managers</a>
            <a href="/employee/age-20-30"><b>Employee:</b> Age between 20 to 30</a>
        </div>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>